# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/msdocs/                                @robertmclaws
/msdocs/clients/                        @robertmclaws
/ms/extending-restier/                  @robertmclaws
/msdocs/release-notes/                  @robertmclaws
/msdocs/server/                         @robertmclaws
