<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FxCop rules for RESTier" Description="This rule set contains the rules for RESTier." ToolsVersion="12.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1506" Action="None" />
  </Rules>
</RuleSet>