<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-beta6-13585" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-beta6-13585" targetFramework="net451" />
  <package id="EntityFramework.SqlServer" version="7.0.0-beta6-13585" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.OData" version="5.4.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.Framework.Caching.Abstractions" version="1.0.0-beta6-11534" targetFramework="net451" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta6-11534" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta6-11520" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta6-11520" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-beta6-11520" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta6-11523" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta6-11523" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta6-11516" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta6-11516" targetFramework="net451" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta6-11492" targetFramework="net451" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net451" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net451" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Remotion.Linq" version="2.0.0-alpha-004" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
</packages>